
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("{{ model_id }}-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>


<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Type to Search.." title="Search">

<table class="table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody id="{{ model_id }}-table">
    {% for object in objects %}
    <tr>
      <td>{{ object }}</td>
      <td>
        {% include "./delete_button.html" with object=object %}
      </td>
    <tr>
     {% endfor %}
  </tbody>
</table>

